* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(60deg, #f79534, #f37056, #ef4e8b, #a167ab, #5073b9, #1099ad, #07b38b, #6fba93);
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Grape Nuts', "cursive";
}
